/*ориентир http://pow-wow.com.ua/category/multfilmy-2/obzory-multfilmov/*/


* {
    font-family: 'Playfair Display', serif;
    color: #626262;
    margin: 0;/*?????????????*/
    padding:0;
}



/*----HEADER SELECTORS----*/
.page-header {
    width: 580px;
    margin: 0px auto 100px;
    padding: 72px 0px 0px 0px; /*почему для верхнего отступа используется не margin 72???*/
}
.site-navigation-list {
    font-size: 0px;
    line-height: 0px; /*нужно ли здесь?*/
    list-style: none;
}
.site-navigation-list-item {
    display:inline-block;
    font-size: 14px; /*унаследуется для ссылки ниже*/
    line-height: 24px/*сделать normal????????????????????*/; /*унаследуется для ссылки ниже*/
}
.site-navigation-list-item:nth-of-type(1) {
    margin-right: 123px;
}
.site-navigation-list-item:nth-of-type(2) {
    margin-right: 105px;
}
.site-navigation-list-item:nth-of-type(3) {
    margin-right: 98px;
}
.site-navigation-list-item:nth-of-type(4) {
    margin-right: 0;
}

.site-navigation-list-item a {

    text-transform: uppercase;
    text-decoration: none;
    color:  #626262;
}
.site-navigation-list a:hover {
    color: #03a9f4;
}  


/*----MAIN PART SELECTORS----*/

.main {
    width: 900px;
    margin: 0 auto;
}
.main-list { 
    list-style: none;
    font-size: 0;
    line-height: 0px; /*нужно ли здесь?*/
}
.main-list-item:nth-of-type(2n+1) {
    margin-right: 60px;
    margin-bottom: 130px;
}
.main-list-item:nth-of-type(2n) {
    margin-right: 0px;
    margin-bottom: 130px;
}
.main-list-item:nth-last-of-type(2) {
    margin-right: 60px;
    margin-bottom: 50px;
}
.main-list-item:nth-last-of-type(1) {
    margin-right: 0px;
    margin-bottom: 50px;
}
.main-list-item {
    display: inline-block;
    width: 420px;
    vertical-align: top;
}

.main-list-article-img-cont {
    width: 420px;
    height: 280px;
    margin-bottom: 30px; 
    text-align: center;
}

.main-list-article-img {
    width: 100%;
    height: 100%;
    /*margin-bottom: 30px; /*почему это работает для строчного элемента???*/
}
.main-list-article-column {
    margin-bottom: 27px;
    font-size: 14px; /*унаследуется для ссылки ниже*/
    line-height: 17px; /*унаследуется для ссылки ниже*/
}
.main-list-article-column a {
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    text-transform: uppercase;    
    text-decoration: none;
}


.main-list-article-header {
    margin-bottom: 32px;
    font-size: 30px; /*унаследуется для ссылки ниже*/
    line-height: 36px; /*унаследуется для ссылки ниже*/
}
.main-list-article-header a{
    color: #626262;
    text-decoration: none;
}

.main-list-article-preview {
    font-size: 14px;
    line-height: 24px;
}

.loadmore {
    text-align: center;
}

.loadmore-button {

    font-family: 'Playfair Display', serif;
    color: #626262;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #626262;
    padding: 18px 36px;
    background-color: transparent;
    transition: 0.3s;
}
.loadmore-button:hover {
    background-color: #f5d7d7;
}

/* visually-hidden helper */
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
    outline: 1px solid red;
}